* {
  margin: 0;
  padding: 0;
  box-sizing: box-sizing;
}
html{
  overflow-x: hidden;
}
img {
  width: 100%;
  height: 100%;
}
.main-wrap{
  background-color: hsl(240, 25%, 95%);
  position: relative;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;

}
.first-wrap {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/images/munbaik-cycling-clothing-iZJrOqEaPNI-unsplash.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 2% 4%;
}
.company-logo, .mobilelogo{
  width: 20%;
  height: 60px;
}
.company-logo img, .mobilelogo img{
  object-fit: cover;
 border-radius: 50%;
 height: 70px;
 width: 70px;
}
nav{
  width: 50%;
}
.nav-links {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
a {
  text-decoration: none;
  color: hsl(240, 7%, 81%);
  transform: scale(1.1);
  transition: 0.7s ease;
}
a:hover {
  color: #34ee34;
  transform: scale(1);
}
.mobile-links {
  display: none;
}
.nav-toggle,
.nav-toggle2 {
  display: none;
}
.mobilelogo {
  display: none;
}
.hero-section {
  width: 60%;
  margin: auto;
  margin-top: 20%;
  text-align: center;
  color: hsl(240, 22%, 95%);
  font-style: italic;
}
.hero-section h3 {
  font-size: 8vmin;
  padding-bottom: 0;
}

.hero-section h4{
 padding-bottom: 7%;
} 
 span {
  font-size: 25px;
}
span i {
  font-size: 5px;
}

/* second-wrapper styling */
.second-wrap {
  width: 90%;
  margin: auto;
  color: black;
  padding-bottom: 2%;
  padding-top: 7%;
}
.vision-mission {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.vision {
  /* border: 2px solid green; */
  box-shadow: 0px 1px 1px rgba(27, 9, 9, 0.2), -0px -1px 1px rgba(27, 9, 9, 0.2);
  text-align: center;
  width: 45%;
  padding: 2%;
}
h3 {
  padding: 2%;
  font-size: 24px;
}
 .values p, .vision p, .objective p {
  line-height: 40px;
  padding: 2%;
}

.logo {
  width: 50%;
  /* height: 70vh; */
}
.logo {
  object-fit: cover;
  object-position: center;
}


/*Objectives */
.third-wrap {
  padding: 5%;
  padding-top: 3%;
}
.heading {
  text-align: center;
  margin-bottom: 2%;
}
.heading h3 {
  font-size: 40px;
}

.objectives-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.objective {
  width: 24%;
  border: 2px solid rgb(184, 234, 184);
  background-color: hsl(240, 22%, 95%);
  color: black;
  box-shadow: 0px 1px 1px rgba(27, 9, 9, 0.2),
    -0px -1px 1px rgba(249, 19, 19, 0.2);
}
.objective .text {
  padding: 5%;
}



/* values */
.values {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/martin-magnemyr-nGt71kRwUOw-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: hsl(240, 22%, 95%);
}
.values-wrap {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}
.value {
  width: 45%;
  box-shadow: 0px 1px 1px rgba(27, 9, 9, 0.2), -0px -1px 1px rgba(27, 9, 9, 0.2);
  margin-bottom: 5%;
  border: 2px solid rgb(184, 234, 184);
  text-align: left;
  padding: 1.5%;
  height: 47vh;
}


/* footer styling */

.footer-wrap {
  color: #000;
  padding: 0 5%;
  padding-bottom: 2%;
}

.logo {
  width: 120px;
  height: 130px;
  border-radius:50%; 
  margin-bottom: 3%;
  margin: 0 auto;
  margin-top: 2%;
}
.logo img {
  object-fit: cover;
  object-position: center;
}

.contact{
width: 90%;
margin: 0 auto;
}
.contact p {
  line-height: 44px;
  text-align: center;
  font-size: 15px;
}
.contact :first-child{
  font-size: 20px;
}
.title{
  font-weight: bolder;
  padding: 2%;
  padding-bottom: 0;
}

.contact i {
  padding-right: 1%;
  color: black;
}

.media-wrap,
.media-wrap p {
  text-align: center;
}
.media-wrap p {
  padding-top:2%;
  padding-bottom: 1%;
}
.media-wrap i {
  color: black;
  padding:15px;
  font-size: 20px;
  padding-top: 0;
}


/* media queries */

/* tablets */
@media (max-width: 1200px) {
  .nav-links {
    display: none;
  }
  .mobileheader {
    display: flex;
    justify-content: space-between;
    padding: 2% 0;
    padding-left: 2%;
    align-items: center;
    justify-content: space-between;
  }
.company-logo{
  display: none;
}

  .mobilelogo,
  .nav-toggle {
    display: block;
  }
  .mobilelogo {
    color: hsl(240, 7%, 81%);
  }
  .nav-toggle {
    cursor: pointer;
    margin: 0rem 1rem;
    display: block;
    border-radius: none;
    width: 2rem;
    border: none;
    background-color: transparent;
    aspect-ratio: 0.5;
    color: hsl(240, 7%, 81%);
    transition: 0.3s ease;
  }
  button i {
    color: hsl(240, 7%, 81%);
  }
  .nav-toggle,
  .nav-toggle2 i {
    font-size: 23px;
  }
  .nav-toggle2 {
    cursor: pointer;
    display: none;
    border-radius: none;
    border: none;
    margin: 0rem 1rem;
    background-color: transparent;
    aspect-ratio: 0.5;
    width: 2rem;
  }

  nav {
    margin-left: 0;
  }
  .mobile-links {
    position: absolute;
    flex-direction: column;
    right: 0px;
    align-items: none;
    text-align: center;
    padding-top: 10%;
    height: 50vh;
    width: 100%;
    line-height: 3rem;
    font: bold;
    display: block;
    transform: translateX(100%);
    transition: 700ms ease;
    margin-right: 0;
    overflow-x: hidden;
    background-color: rgb(81, 79, 79);
    z-index: 39;
  }
  .hero-section {
    width: 90%;
    margin: auto;
    margin-top: 20%;
    text-align: center;
  }
  .hero-section h3 {
    color: hsl(240, 7%, 81%);
    font-size: 7vmin;
  }
  .heading h3 {
    font-size: 30px;
    flex-wrap: wrap;
  }
  .objective {
    width: 45%;
    margin-bottom: 5%;
  }

  .wrapper {
    padding-top: 2%;
    display: block;
  }

}

@media(max-width:900){
  .value {
    height: 20vh;
  }
}

/* small screens */
@media (max-width: 760px) {
  .hero-section {
    width: 90%;
    margin: auto;
    margin-top: 50%;
    text-align: center;
  }
  .second-wrap {
    padding-top: 10%;
    padding-bottom: 6%;
  } 
  .vision-mission {
   flex-direction: column;
  }
  .vision {
    width: 95%;
    margin: auto;
    margin-bottom: 5%;
  }
  .objective {
    width: 100%;
    margin-bottom: 5%;
  }
  .value-heading{
    padding-top: 4%;
  }
  .values-wrap {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .value {
    width: 95%;
    height: 60vh;
  
  }
  .value h3{
    margin-bottom: 2%;
  }
  .contact p {
    font-size: 13px;
  }
}

@media(max-width:600px){
  .value {
    height: 60vh;
  }
}
@media(max-width:350px){
  .value {
    height: 80vh;
  }
}
